.header {
  display: flex;
  max-width: 1440px;
    width: 100vw;
  justify-items: center;
  padding: 94px 50px;
  letter-spacing: 0.5px;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-content: center;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  margin-right: auto;
}

.header__links-list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: disc;
}

.header__links-list-item {
  align-self: center;
  list-style-position: inside;
  list-style-type: circle;
  text-decoration: underline;
    letter-spacing: 0.4px;
}

.header__links-list-item_no-bullit {
  margin-right: 29px;

  list-style-type: none;

  text-decoration: none;
}

.header__logo {
  display: flex;
  margin: auto auto auto -170px;
}

.header__logo-image {
  width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3em;
  letter-spacing: 0.1px;
  list-style: none;
  justify-self: center;
  align-self: center;
}


.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(../images/cover.jpg) center/cover;
  max-width: 1440px;
}

.overlay {
  position: absolute;
  background: rgba(0 0 0 / 0.6);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

}

.cover__title {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  font-size: 100px;
  padding: 166px 50px 0;
  word-spacing: 70px;
  color: #fff;
  z-index: 1;
}

.aligned-text {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 115px;

}

.aligned-text_center {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100px;
  padding-top: 7px;
  justify-content: center;
}

.aligned-text_right {
  z-index: 1;
  display: flex;

  height: 100px;
  align-self: end;

  padding-top: 30px;
  padding-left: 200px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

/* Свойство 
  text-transform: lowercase;
нарушает разметку */

.no-letter-spacing {

  letter-spacing: 29px;
}


.cover__description {
  display: flex;
  margin-left: auto;
  padding: 160px 50px 50px;
  font-size: 22px;
  font-weight: 100;
  word-spacing: 15px;

  text-transform: uppercase;
  align-items: end;
  z-index: 1;
  color: #fff;
}

.cover__description-text {
  display: flex;
}

.bet-button {
  display: flex;
  justify-self: end;
  font-family: Raleway;
  background: transparent;
  margin-left: 100px;
  margin-top: 14px;
  padding: 9px 30px;

  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  font-size: 22px;
  border: #fff solid 1px;
  min-height: 50px;
  width: 258px;
}

.lots {
  display: grid;
  width: 1440px;
  flex-wrap: wrap;
  padding: 0 50px;
}

.lots__heading {
  display: flex;
  align-self: start;
  min-width : 100%;

  padding: 180px 0 0 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
  margin-bottom: 30px;
}

.lots__card-list {
  display: flex;
  width: 100%;
  
  list-style: none;

  column-gap: 25px;
}

.lots__card-list-item {
  justify-content: space-between;
  position: relative;
  height: 450px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) 100%;
  width: 430px;
  height: 100%;
  background-size: cover;
  background-position: center;

}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  width: 430px;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_type_picture {

  background: url(../images/card-lot-03.jpg);
  width: 430px;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 32px 50px 40px;
  height:  100%;
}

.card__title {
  display: flex;
  height: 100%;
  font-size: 22px;
  font-style: bold;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.card__text {
  display: flex;

  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  color: #fff;
    z-index: 1;
}

.lots__look-more-link {
  display: flex;
  justify-self: start;
  padding: 30px 0 0 40px;
  font-size: 20px;
  font-weight: 100;
  text-decoration: underline;
}

.about {
  display: flex;
  padding: 180px 50px 0;
  margin-bottom: 180px;

}

.about__column {
  display: grid;
  grid-template-columns: 430px 25px 885px;

}

.about__logo {

  grid-column: 1/2;
  display: flex;
  align-self: start;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;


}

.about__t {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  max-width: 885px;
}

.about__title {
  display: flex;
  align-self: start;
  justify-self: center;
  font-size: 40px;
  font-weight: bold;
  padding: 100px 0;
  text-transform: uppercase;

}

.about__text {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .03em;
  line-height: 1.1em;

}



.footer {
  display: flex;
  width: 100vw;
  max-width: 1440px;

  justify-items:center ;
  align-content: center;
  padding: 0 50px 90px;
}

.footer_address {
  display: flex;
  flex-wrap: nowrap;
  margin-right: auto;
}

.footer__menu {
  display: flex;
  margin: 0 auto;

}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;

}

.footer__menu-list-item {
  align-self: center;
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  margin-left: auto;
  list-style: none;

}

.footer__social-list-item {
  width: 48px;
  margin-left: 48px;
}

.footer__social-list-item:first {
  margin-left: 0;
}

.footer__menu-link_active {
  text-decoration: none;

}